

button.styled-button.active {
  background: red;
}

/*popup styling*/
#popup-cont {
  position: fixed;
  bottom: 0;
  display: flex; /*to prevent margin collapsing*/
  flex-direction: column;
  width: 100%;
  max-width: 15em;
  max-height: 100vh;
}
.popup-height-cont {
  position: relative;
  transform-origin: center center;
  overflow: hidden;
}
.popup {
  position: relative;
  padding: 1em;
  background: skyblue;
}
.popup-close {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 1em;
  height: 1em;
  border: 2px solid white;
  border-radius: 50%;
  transition: var(--trans) ease;
}
.popup-close:hover {
  cursor: pointer;
}
.popup-close::before,
.popup-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.75em;
  height: 2px;
  background: white;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: inherit;
}
.popup-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}